<div id="contact-card-wrapper">
  <!-- Navbar -->
  <nav>
    <div class="menu-icon">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/contact" class="active">Contact</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
  <!-- Start Main -->
  <div class="container text-center">
    <div id="contact-card" class="container bg-white rounded-lg shadow-lg overflow-hidden">
      <!-- pictures carousel -->
      <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
        <div class="flex-1 flex flex-col">
          <div class="carousel-inner">
            <div id="dogcarousel" class="bg-cover h-48 carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <div class="carousel-item active">
                <img src="/pic/8bc3cede-f471-44c2-9fc7-46873bc95a59-(1).jpg" alt="Dogs" width="750" height="400">
                <div class="carousel-caption">
                  <h1>Contact Us</h1>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/pic/598cdf56-fe6d-41a9-bf5f-fa2fc80f02fb.jpg" alt="Dogs" width="750" height="400">
                <div class="carousel-caption">
                  <h1>Contact Us</h1>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/pic/d47c77ed-03f7-4886-8125-6cfe11dc6a2d-(1).jpg" alt="Dogs" width="750" height="400">
                <div class="carousel-caption">
                  <h1>Contact Us</h1>
                </div>
              </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#dogcarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#dogcarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- MAin text -->
      <div class="p-4 flex-1 flex flex-col">
        <div class="mb-4 text-grey-darker text-sm flex-1">
          <p>Please reach out to let us know that the issue is about. We will be geting back to you as soon as posible.
          </p>
          <a href="mailto:wltdoapplication@gmail.com?subject=Please Assist Me with My Issue&body=I have issue with Signup / Login / Updating my Pet Details (Please select)""" target="_blank" class="btn btn-outline-secondary">Email Us</a>
        </div>
      </div>
      <!-- Return to top -->
      <div class="row">
        <div class="col">
          <a href="#"><button type="button" class="btn btn-info">
              To Top
            </button></a>
        </div>
      </div>
    </div>
  </div>