<div class="container text-center">
    <!-- Navbar -->
    <nav>
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Login</a></li>

            </ul>
        </div>
    </nav>

    <!-- Start Main container -->
    <div class="container text-center">

        <div id="home-card" class="container bg-white rounded-lg shadow-lg overflow-hidden">
            <!-- pictures carousel -->
            <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
                <div class="flex-1 flex flex-col">
                    <div class="carousel-inner">
                        <div id="dogcarousel" class="bg-cover h-48 carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <div class="carousel-item active">
                                <img src="./pic/aditya-joshi-tVErtb2WNOY-unsplash_750x400_web.jpg" alt="Dog"
                                    width="750" height="400">
                                <div class="carousel-caption">
                                    <h1 class="mb-4 text-2xl">About Us</h1>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="./pic/alvan-nee-T-0EW-SEbsE-unsplash_750x400_web.jpg" alt="Dog"
                                    width="750" height="400">
                                <div class="carousel-caption">
                                    <h1 class="mb-4 text-2xl">About Us</h1>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="./pic/anna-dudkova-6EiHRos6Nz4-unsplash_750x400_web.jpg" alt="Dog"
                                    width="750" height="400">
                                <div class="carousel-caption">
                                    <h1 class="mb-4 text-2xl">About Us</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#dogcarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#dogcarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="p-4 flex-1 flex flex-col">
                <div class="mb-4 text-grey-darker text-sm flex-1">
                    <p>This applications’ intended purpose is to bring dog owner’s closer together, so that your
                        dog’s can socialize and have fun. Are you always doing the doggy walks by yourself? You went
                        to the park again and no other dogs around for your puppy to play with?
                        Well, we might be able to help.</p>
                    <p>This is the launch of an application which helps you to organize casual play dates for your
                        little pooch in a very simple and easy way.</p>
                    <p>Just have a look at a dog’s profile and get a feel if that dog would be a good match with
                        your dog. If you don’t feel it is a good match swipe right but if you think you got a winner
                        swipe left and we put you in touch with it’s owner, so you can meet up somewhere and your
                        dog’s can have some fun.</p>
                    <p>Right now our application puts you in touch with the owner via email but there are some
                        really cool features planned to be included in our app soon like managing your details and
                        updating your profile with multiple dogs, chat options via the app to replace email
                        correspondence and many more.</p>
                </div>

            </div>
             <!-- Return to top -->
        <div class="row">
            <div class="col">
                <a href="#"
                    class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide">
                    go up
                </a>
            </div>
        </div>
        </div>
       
    </div>