<!-- Start Main container -->
<div class="container text-center">
  <!-- Navbar -->
  <nav>
    <div class="menu-icon">
      <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signup" class="active">Signup</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Login</a></li>

      </ul>
    </div>
  </nav>

  <div id="signup-card1" class="card container bg-white rounded-lg shadow-lg overflow-hidden">

    <div class="card__face card__face--front w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
      <div class="flex-1 flex flex-col">
        <!-- pictures carousel -->
        <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
          <div class="flex-1 flex flex-col">
            <div class="carousel-inner">
              <div id="dogcarousel" class="bg-cover h-48 carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <div class="carousel-item active">
                  <img src="/pic/jorge-gardner-Ey0Y15b4CEc-unsplash_750x400_web.jpg" alt="Dogs" width="750"
                    height="400">
                  <div class="carousel-caption">
                    <h1>Join The Pack</h1>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/pic/karl-anderson-jKDFcXwk5Cw-unsplash_750x400_web.jpg" alt="Dogs" width="750"
                    height="400">
                  <div class="carousel-caption">
                    <h1>Join The Pack</h1>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/pic/mark-zamora-De2HG1rUb0U-unsplash750x400_web.jpg" alt="Dogs" width="750" height="400">
                  <div class="carousel-caption">
                    <h1>Join The Pack</h1>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#dogcarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#dogcarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- Text Content -->
        <div class="p-4 flex-1 flex flex-col">
          <div class="mb-4 text-grey-darker text-sm flex-1">
            <!-- Form for email signup -->
            <form class="signup text-left">
              <!-- Owner Information -->
              <div class="row">
                <div class="col">
                  <h3 class="mb-4 text-2xl text-center">I am the dogs parent:</h3>
                  <p>Please enter here your Information.</p>
                </div>
              </div>
              <!-- Email & Password -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Email address(Username)</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputPassword1" class="">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1"
                    placeholder="Please enter your Password">
                </div>
              </div>
              <!-- Post Code -->
              <div class="form-row">
                <div class="form-group col">
                  <label for="postCode">Post Code</label>
                  <input type="postCode" class="form-control" id="postCode" aria-describedby="#"
                    placeholder="Please enter your Postcode">
                </div>
              </div>
              <!-- Name & Last name -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstNameInput">First Name</label>
                  <input type="text" aria-label="First name" class="form-control" id="firstNameInput"
                    placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastNameInput">Last Name</label>
                  <input type="text" aria-label="Last name" class="form-control" id="lastNameInput"
                    placeholder="Last Name">
                </div>
              </div>
              <!-- Dog Information -->
              <div class="row">
                <div class="col">
                  <h3 class="mb-4 text-2xl text-center">Your Pooches Information:</h3>
                </div>
              </div>
              <!-- Name & Age -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dogNameInput">Fury Friends Name</label>
                  <input type="text" aria-label="Name" class="form-control" id="dogNameInput" placeholder="Furys Name">
                </div>
                <div class="form-group col-md-6">
                  <label for="dogAgeInput">Age</label>
                  <input type="text" aria-label="Age" class="form-control" id="dogAgeInput" placeholder="Age">
                </div>
              </div>
              <!-- Breed -->
              <div class="form-row">
                <div class="form-group col">
                  <label for="dogBreedInput">Breed</label>
                  <input type="postCode" aria-label="Breed" class="form-control" id="dogBreedInput" placeholder="Breed">
                </div>
              </div>
              <!-- What Sex -->
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-4 pt-0">What sex is your Furry Friend? :</legend>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="male" name="sex" value="0">
                      <label class="form-check-label" for="male">
                        Male
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="female" name="sex" value="1">
                      <label class="form-check-label" for="female">
                        Female
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Desexed? -->
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-4 pt-0">Has your Furry Friend been desexed? :</legend>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="desexedYes" name="desexed" value="0">
                      <label class="form-check-label" for="male">
                        Yes
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" id="desexedNo" name="desexed" value="1">
                      <label class="form-check-label" for="female">
                        No
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- Description of the dog Text -->
              <div class="form-row">
                <div class="form-group input-group-prepend col">
                  <label class="input-group-text" for="dogBreedInput">Describe Your Dog</label>
                  <textarea class="form-control" id="dogDescriptionInput" aria-label="With textarea"
                    placeholder="Describe Your Furr Frien/Child"></textarea>
                </div>
              </div>
              <!-- Photo of Your Dog via file upload-->
              <div class="form-row">
                <div class="form-group col">
                  <h6 class="mb-4 text-2xl attention-text">Please uploade a picture of your fury friend/child:</h6>
                  <input class="btn-light" type="file" accept="image/*" name="photo">
                </div>
              </div>

              <div class="row">
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    <h5 class="mb-4 text-2xl text-left">Disclaimer:</h5>
                    <p class="text-left">Who let the dogs out is an app designed to bring dog owners together, so
                      that
                      they
                      can self-organize
                      doggy play dates between their dogs.
                      Although your and your dog’s wellbeing is our top priority, we cannot assume any
                      responsibility
                      for
                      anything which happens during your play date. We only establish a connection between dog
                      owners.
                      It is
                      each registered members’ responsibility to use the information provided by our application
                      only
                      for
                      its intended purpose and to assure each and everyone’s safety during any events which get
                      scheduled as
                      a result of the information provided.
                      All individuals and their dogs choose to participate at their own risk at any events which are
                      organized as a result of the information provided and the application’s owners are not held
                      liable for
                      any injury, misbehaviour and/or loss of personal belongings.</p>
                  </label>
                </div>

              </div>
              <div class="row">
                <div class="form-check col">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    <p class="alert alert-danger text-left">Please assure that the information provided on the sign up
                      sheet
                      is
                      accurate before it is submitted. The application does currently not allow for any corrections on
                      the
                      provided information as the user data management function is currently in development and will
                      only
                      become available in the next release version.</p>

                  </label>
                </div>
              </div>

          </div>
          <!-- Submit button -->
          <div class="row">
            <div class="col">
                <button type="submit" id="signupSubmit" class="btn btn-outline-secondary signin-btn">Submit</button>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Return to top -->
    <div class="row">
      <div class="col">
        <a href="#" class="up-arrow">^UP^
        </a>
      </div>
    </div>
  </div>