<!-- Start Main container -->
<div class="container text-center" id="positionWrapper">
  <div id="signup-card1" class="card container bg-white rounded-lg shadow-lg overflow-hidden">

    <div class="card__face card__face--front w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
      <div class="flex-1 flex flex-col">
        <!-- pictures -->
        <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
          <div class="flex-1 flex flex-col">
            <div class="carousel-inner">
              <div id="dogcarousel" class="bg-cover h-48 carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <div class="carousel-item active">
                  <img src="/pic/jorge-gardner-Ey0Y15b4CEc-unsplash_750x400_web.jpg" alt="Dogs" width="750"
                    height="400">
                  <div class="carousel-caption">
                    <h1 class="mb-4 text-2xl">Join The Pack</h1>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/pic/karl-anderson-jKDFcXwk5Cw-unsplash_750x400_web.jpg" alt="Dogs" width="750"
                    height="400">
                  <div class="carousel-caption">
                    <h1 class="mb-4 text-2xl">Join The Pack</h1>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/pic/mark-zamora-De2HG1rUb0U-unsplash750x400_web.jpg" alt="Dogs" width="750" height="400">
                  <div class="carousel-caption">
                    <h1 class="mb-4 text-2xl">Join The Pack</h1>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#dogcarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#dogcarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- Text Content -->
        <div class="p-4 flex-1 flex flex-col">

          <div class="mb-4 text-grey-darker text-sm flex-1">

            <form class="signup">

              <!-- Users Info -->
              <h3 class="mb-4 text-2xl">Your Information</h3>
              <p>Please enter here your Information.</p>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address(Username)</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                  placeholder="Please enter your Password">
              </div>
              <div class="form-group">
                <label for="postCode">Post Code</label>
                <input type="postCode" class="form-control" id="postCode" aria-describedby="#"
                  placeholder="Please enter your Postcode">
              </div>
              <div class="input-group">
                <span class="input-group-text">First and last name</span>
                <input type="text" aria-label="First name" class="form-control" id="firstNameInput"
                  placeholder="First Name">
                <input type="text" aria-label="Last name" class="form-control" id="lastNameInput"
                  placeholder="Last Name">
              </div>


              <div>
                <h3 class="mb-4 text-2xl">Your Pooches Information</h3>
                <p>Please enter here your Information.</p>
              </div>


              <span class="input-group-text">Fury Friends Name</span>
              <input type="text" aria-label="Name" class="form-control" id="dogNameInput" placeholder="Name">
              <span class="input-group-text">Age</span>
              <input type="text" aria-label="Age" class="form-control" id="dogAgeInput" placeholder="Age">
              <span class="input-group-text">Breed</span>
              <input type="text" aria-label="Breed" class="form-control" id="dogBreedInput" placeholder="Breed">

              <div>
                <span>
                  <p>What is your dog's sex?</p>
                  <input type="radio" id="male" name="sex" value="0">
                  <label for="male">Male</label>
                  <input type="radio" id="female" name="sex" value="1">
                  <label for="female">Female</label>
                </span>
              </div>


              <span class="input-group-text">Allergies</span>
              <input type="text" aria-label="Allergies" class="form-control" id="dogAllergiesInput"
                placeholder="Allergies">

              <!-- Photo of Your Dog via file upload-->
              <div class="form-group">
                <div>
                  <input type="file" accept="image/*" name="photo">
                </div>

              </div>



              <!-- Description of the dog -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Describe Your Dog</span>
                </div>
                <textarea class="form-control" id="dogDescriptionInput" aria-label="With textarea"></textarea>
              </div>

              <div>

                <div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      <h4 class="mb-4 text-2xl text-left">Disclaimer:</h4>
                      <p class="text-left">Who let the dogs out is an app designed to bring dog owners together, so that
                        they
                        can self-organize
                        doggy play dates between their dogs.
                        Although your and your dog’s wellbeing is our top priority, we cannot assume any responsibility
                        for
                        anything which happens during your play date. We only establish a connection between dog owners.
                        It is
                        each registered members’ responsibility to use the information provided by our application only
                        for
                        its intended purpose and to assure each and everyone’s safety during any events which get
                        scheduled as
                        a result of the information provided.
                        All individuals and their dogs choose to participate at their own risk at any events which are
                        organized as a result of the information provided and the application’s owners are not held
                        liable for
                        any injury, misbehaviour and/or loss of personal belongings.</p>
                    </label>
                  </div>

                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label" for="flexCheckChecked">
                    <p class="alert alert-danger text-left">Please assure that the information provided on the sign up
                      sheet
                      is
                      accurate before it is submitted. The application does currently not allow for any corrections on
                      the
                      provided information as the user data management function is currently in development and will
                      only
                      become available in the next release version.</p>

                  </label>
                </div>

              </div>

          </div>
          <div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
          </div>
          </form>

          <!-- Return to top -->
          <div>
            <a href="#"
              class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide">
              go up
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>