<div class="play-card-text">
    <img id="dogimage" class="img-dog" src="../public/pic/anoir-chafik-2_3c4dIFYFU-unsplash_750x400_web.jpg"
        alt="Picture of the dogs">
    <div class="title-total">
        <div class="title">Dogs Qwner Name</div>
        <h2 id="dogname">Dogy Name</h2>
        <div class="desc" id="breed">Breed: {{dog.breed}} </div>
        <div class="desc" id="age">Age: </div>
        <div class="desc" id="sex">Sex: </div>
        <div class="desc" id="desexed">Desexed:</div>
        <div class="desc" id="allergies">Allergies: </div>
        <div class="desc" id="child-friendly">Child-friendly: </div>
        <div class="desc kursive"> Small discription: Morgan has collected ants since they were six years
            old and now has many dozen
            ants but none in their pants.</div>
    </div>
</div>